language: node_js
node_js:
    - "stable"
script:
    - npm run build
    - npm test
    - cat coverage/firefox/lcov.info | node_modules/.bin/coveralls
#sudo: required
#dist: trusty
addons:
  firefox: "latest",
  chrome: "stable"
before_install:
    # Start a display server where all graphical operations happens in memory
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
cache:
  directories:
    - node_modules
