language: node_js
node_js:
    - "node"
script: npm test
sudo: required
dist: trusty
addons:
  firefox: "49.0"
before_install:
    # Start a display server where all graphical operations happens in memory
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
