before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
cache:
  directories:
  - node_modules
language: node_js
node_js:
- stable
script:
- npm run build:test
- npm run test:saucelabs
- ls -al coverage
- cat coverage/firefox/lcov.info | node_modules/.bin/coveralls
notifications:
  slack:
    secure: wlUOtef0e+zEib2MIKUwoV4sPNELN5A45IJhcF+12ArWvKJbRCKkkjQlYsgqU/Nhy8kQ8rbzdws7cQ5Pl9pnPXFKYU4PvA8gJgY19rnBEFIpwpcIL1y4EvTITvIKbRInIMnat9dVuWs/kOC+RmLx7h86d8fQq36AjDZ4Mh6RMrFjHuM55OV07xw+iDC5MN0Cw4IspvktqSE1HpBZ8bxX0Q0iymno4FVY9IPjVmjpuwFtNpBYAoyQjSiVmo5PAA+MkHSR0FG8rPTqFm49skpnDcrywrwn8CQU74PGOcOU0DGeBcKqwkoP2yrJ8ampAYNcAQWD698EzAVOo4ymfahCiUA6J/1nsVq4tZl5nmjYpkf+HcqPhbBIYp8PAkA4VqheuNNAnBDUpAVAn8bZP1wBRaBQDJKBslcnRCFGKUYygTMeGYpM41irczMkK9N4pJ+TdfyeYv2dxvHOyhh0CJlpNK0fHbzgBfPy2CIF7l38fylr5TCtEup43uTyfPe00FKC0ZehKaGa+MIwJPuU09yalFTUNZitlOVMKhSIOIVt6JQkqIW8Pzd8uG8HOesDyfScpo4GhpcLTn5Qz+Pm6q0qptMzktQKrlzLE4gXYwUwr491PmPc43qxyDMpOzAG8mdsLjgLxEyMiZv4y79Es/53ITkwoG6iTgNjnBWoo7cYDRQ=
  email: false
